.export-data-bttn {
  width: 100%;
  margin-bottom: 32px;
}

canvas {
  padding: 8px;
  margin: 8px auto;
  width: 100% !important; /* bc chart.js adds styles onto the element itself */
  height: auto !important;
  aspect-ratio: 2;
  background-color: #fffa;
}

h1 {
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  &:not(:first-of-type) {
    margin-top: 64px;
  }
}

details {
  margin: 2px auto;
  text-align: right;

  &.filled summary {
    filter: none;
  }
  & summary {
    padding: 8px;
    text-align: left;
    background-color: var(--background);
    filter: brightness(0.5);
  }

  & input.interactive {
    width: calc(100% - 32px);
    margin-left: auto;
    text-align: left;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
